[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
python-dotenv = "*"
supabase = "*"
requests = "*"
httpx = "*"
web3 = "*"
eth-account = "*"
eth-typing = "*"
loguru = "*"
numpy = "*"
cryptography = "*"
ecdsa = "*"
pycryptodome = "*"
python-json-logger = "*"
tabulate = "*"
xai-sdk = "*"
dateutils = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.12"